$-clr-white: hsl(0 0% 100%);
$-clr-grey: hsl(0 0% 20%);
$-clr-dark-grey: hsl(0 0% 12%);
$-clr-black: hsl(0 0% 8%);
$-clr-green: hsl(75 94% 57%);

$default: (
  "background": $-clr-black,
  "primary": $-clr-dark-grey,
  "secondary": $-clr-grey,
  "base": $-clr-white,
  "accent": $-clr-green
);

$clr-background: var(--background);
$clr-primary: var(--primary);
$clr-secondary: var(--secondary);
$clr-base: var(--base);
$clr-accent: var(--accent);