@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$enable-mq-light-mode: false;
$active-theme: $default;


// Contextual
$clr-text-default: $clr-base;
$clr-bg-default: $clr-background;
$clr-interactive-text-default: $clr-base;
$clr-interactive-text-hover: $clr-base;

// set to 0 to disable
$letter-spacing-loose:0;

// border-radius
$border-radius-1: $size-4;
$border-radius-2: $size-8;

// body
$body-ff: $font-family-base;
$body-fz: $font-size-400;
$body-line-height: 1.5;
$body-fw: $font-weight-default;
$body-text-color: $clr-text-default;
$body-bg-color: $clr-bg-default;

$link-color: $clr-interactive-text-default;
$link-color-hover: $clr-interactive-text-hover;

// layout
$grid-gap: $size-8;
$flex-gap: $size-8;

$container-min-margin-inline: $size-12;
$container-max-width: 23.875rem;

$content-max-width: 64rem;
$content-max-width-narrow: 40rem;
$content-max-width-wide: 75rem;

$breakout-max-width: 70rem;
$breakout-max-width-narrow: 50rem;
$content-max-width-wide: 85rem;

$card-bg-default: $clr-primary;
$card-padding: $size-12;

$flow-gap: $size-8;