@use 'sizes' as *;

$-ff-sans: 'Inter', sans-serif;
$-ff-serif: serif;

$font-family-base: $-ff-sans;
$font-family-accent: $-ff-sans;

$font-sizes: (
  "small": (
    "900": $size-10,
    "400": $size-6,
  )
);

$font-size-400: var(--fs-400);
$font-size-900: var(--fs-900);

$-fw-400: 400;
$-fw-600: 600;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-semi-bold: $-fw-600;
$font-weight-bold: $-fw-700;