@use '../abstract' as *;

.card {
  background-color: $clr-bg-card;

  @include mq(small) {
    --padding: #{$container-min-margin-inline} * 2;
    --max-width: #{$container-max-width};

    width: min(100% - var(--padding, 1rem), var(--max-width));
    margin-inline: auto;
    margin-block: $size-41;
    padding: $size-20;
    border-radius: $border-radius-2;
  }

  &__header-wrapper, &__aside, &__section {
    margin-inline: $size-16;

    @include mq(small) {
      margin-inline: 0;
    }
  }


  &__header {
    img {
      min-height: $size-46;
      overflow: clip;

      @include mq(small) {
        max-height: 300px;
        border-radius: $border-radius-1;
      }
    }


    &-wrapper {
      padding-block: $size-20 $size-17;

      @include mq(small) {
      
      }


      h1 {
        margin-bottom: $size-10;
        font-size: $font-size-900;
        font-family: $font-family-accent;
        line-height: 1.1;
        color: $clr-title;

        @include mq(small) {
          margin-bottom: $size-12;
        }
      }
    }
  }

  &__aside {
    background: $clr-neutral-200;
    padding: $size-12 $size-13;
    margin-bottom: $size-17;
    border-radius: $border-radius-1;

    h3 {
      color: $clr-title-2;
      font-size: $font-size-500;
      line-height: 1;
      letter-spacing: 0.03em;
      font-weight: $font-weight-bold;
      margin-bottom: $size-8;
    }

    ul {
      color: $clr-title-2;
    }
  }

  &__section {
    padding-bottom: $size-16;

    &:last-child {
      @include mq(small) {
        padding-bottom: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: $size-17;
      border-bottom: 1px solid $clr-line;
    }
    h2 {
      color: $clr-primary-100;
      font-family: $font-family-accent;
      font-size: $font-size-600;
      line-height: 1.1;
      padding-bottom: $size-12;
    }

    &-ingredient {
      ul>li>span {
        font-weight: $font-weight-default;
      }
    }

    p {
      padding-bottom: $size-6;
    }

    .even-columns {
      h4 {
        padding-block: $size-6;
        padding-left: $size-17;
      }
      p {
        padding-block: $size-6;
        font-weight: $font-weight-bold;
        color: $clr-title-2;
      }
    }
  }


}
