@use '../abstract' as *;

.card {
  background-color: $card-backgroud;

  @include mq(small) {
    --padding: #{$container-min-margin-inline} * 2;
    --max-width: #{$container-max-width};

    width: min(100% - var(--padding, 1rem), var(--max-width));
    margin-inline: auto;
    margin-block: $card-size-41;
    padding: $card-padding;
    border-radius: $card-radius-2;
  }

  &__header-wrapper, &__aside, &__section {
    margin-inline: $card-size-16;

    @include mq(small) {
      margin-inline: 0;
    }
  }


  &__header {
    img {
      min-height: $card-image-height-mobile;
      overflow: clip;

      @include mq(small) {
        max-height: $card-image-height-large;
        border-radius: $card-radius-1;
      }
    }


    &-wrapper {
      padding-block: $card-size-20 $card-size-17;


      h1 {
        margin-bottom: $card-size-10;
        font-size: $card-title-large;
        font-family: $card-ff-accent;
        line-height: 1.1;
        color: $card-title-large-clr;

        @include mq(small) {
          margin-bottom: $card-size-12;
        }
      }
    }
  }

  &__aside {
    background: $card-aside-bg;
    padding: $card-size-12 $card-size-13;
    margin-bottom: $card-size-17;
    border-radius: $card-radius-1;

    h4 {
      color: $card-title-medium-clr;
      font-size: $card-title-medium;
      line-height: 1;
      letter-spacing: 0.03em;
      font-weight: $font-weight-bold;
      margin-bottom: $card-size-8;
    }

    ul {
      color: $card-title-medium-clr;
    }
  }

  &__section {
    padding-bottom: $card-size-16;

    &:last-child {
      @include mq(small) {
        padding-bottom: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: $card-size-17;
      border-bottom: $card-border-bottom;
    }
    h3 {
      color: $card-title-semi-large-clr;
      font-family: $card-ff-accent;
      font-size: $card-title-semi-large;
      line-height: 1.1;
      padding-bottom: $card-size-12;
    }

    &-ingredient {
      ul>li>span {
        font-weight: $font-weight-default;
      }
    }

    p {
      padding-bottom: $card-size-6;
    }

    .even-columns {
      h4 {
        padding-block: $card-size-6;
        padding-left: $card-size-17;
      }
      p {
        padding-block: $card-size-6;
        font-weight: $font-weight-bold;
        color: $card-title-semi-large-clr;
      }
    }
  }


}
