@use '../abstract' as *;

body {
  color: $body-text-color;
  line-height: $body-line-height;
  font-weight: $body-fw;
  font-family: $body-ff;
  font-size: $body-fz;

  @include mq(small) {
    background-color: $clr-neutral-300;
  }
}

main {
  @include mq(small) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

ul, ol {
  margin-block: 0;
  padding: 0;
  margin-left: $list-size-medium;
  color: $list-color;
  
  > li {
      padding-left: $list-size-large;
              
      &:not(:last-child) {
        margin-bottom: $list-size-small;
      }
    
      > span {
        color: $list-color-spam;

        &:first-child {
          font-weight: $font-weight-bold;
        }
      }
      
  }
  
}
