@use '../abstract' as *;

body {
  background-color: $body-bg-color;
  color: $body-text-color;
  line-height: $body-line-height;
  font-weight: $body-fw;
  font-family: $body-ff;
  font-size: $body-fz;
}
