@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;


$active-theme: $default;


// Contextual
$clr-text-default: $clr-neutral-500;
$clr-bg-default: $clr-neutral-300;
$clr-bg-aside: $clr-neutral-200;
$clr-bg-card: $clr-neutral-100;
$clr-title: $clr-neutral-600;
$clr-title-2: $clr-primary-200;
$clr-title-3: $clr-primary-100;
$clr-line: $clr-neutral-400;


// set to 0 to disable
$letter-spacing-loose:0;

// border-radius
$border-radius-1: $size-6;
$border-radius-2: $size-12;

// // body
$body-ff: $font-family-base;
$body-fz: $font-size-400;
$body-line-height: 1.5;
$body-fw: $font-weight-default;
$body-text-color: $clr-text-default;
$body-bg: $clr-bg-default;


$card-backgroud: $clr-bg-card;
// $link-color: $clr-interactive-text-default;
// $link-color-hover: $clr-interactive-text-hover;

// // layout
// $grid-gap: $size-8;
// $flex-gap: $size-8;

$container-min-margin-inline: $size-8;
$container-max-width: 41rem;
// $container-max-width-narrow: 40rem;
// $container-max-width-wide: 75rem;

//$content-max-width: 48rem;
// $content-max-width-narrow: 40rem;
// $content-max-width-wide: 75rem;

// $breakout-max-width: 70rem;
// $breakout-max-width-narrow: 50rem;
// $content-max-width-wide: 85rem;