@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;


$active-theme: $default;


// Contextual
$clr-text-default: $clr-neutral-500;
$clr-bg-default: $clr-neutral-300;
$clr-bg-aside: $clr-neutral-200;
$clr-bg-card: $clr-neutral-100;
$clr-title: $clr-neutral-600;
$clr-title-2: $clr-primary-200;
$clr-title-3: $clr-primary-100;
$clr-line: $clr-neutral-400;


// set to 0 to disable
$letter-spacing-loose:0;

// border-radius
$border-radius-1: $size-6;
$border-radius-2: $size-12;

// // body
$body-ff: $font-family-base;
$body-fz: $font-size-400;
$body-line-height: 1.5;
$body-fw: $font-weight-default;
$body-text-color: $clr-text-default;
$body-bg: $clr-bg-default;


$card-backgroud: $clr-bg-card;
$card-size-6: $size-6;
$card-size-8: $size-8;
$card-size-10: $size-10;
$card-size-12: $size-12;
$card-size-13: $size-13;
$card-size-16: $size-16;
$card-size-17: $size-17;
$card-size-20: $size-20;
$card-size-41: $size-41;
$card-image-height-mobile: $size-46;
$card-image-height-large: 18.75rem;
$card-padding: $size-20;
$card-radius-1: $border-radius-1;
$card-radius-2: $border-radius-2;
$card-title-large: $font-size-900;
$card-title-semi-large: $font-size-600;
$card-title-medium: $font-size-500;
$card-title-large-clr: $clr-title;
$card-title-semi-large-clr: $clr-title-3;
$card-title-medium-clr: $clr-title-2;
$card-aside-bg: $clr-bg-aside;
$card-ff-accent: $font-family-accent;
$card-border-bottom: 1px solid $clr-line;

$list-size-small: $size-4;
$list-size-medium: $size-10;
$list-size-large: $size-14;
$list-color: $clr-title-3;
$list-color-spam: $clr-neutral-500;

$container-min-margin-inline: $size-8;
$container-max-width: 41rem;
