@use '../abstract' as *;

.card {
  background-color: $clr-bg-card;
  margin-block: $size-40;
  border-radius: $size-18;
  box-shadow: $size-6 $size-6 0 0 $clr-base;
  border: 1px solid $clr-base;
  @include display(grid, $size-12);
  @include container(24rem, $size-12, $size-11);

  &__header {
    img {
      border-radius: 10px;
      max-height: 12.5rem;
      object-fit: cover;
      overflow: clip;
    }
  }
  &__section {
    @include display(grid, $size-6);

    &-label {
      color: $clr-base;
      padding: $size-2 $size-6;
      background: $body-bg-color;
      width: fit-content;
      font-weight: 800;
      border-radius: $size-2;
      font-size: 12px;
    }

    &-publish {
      font-size: 12px;
    }

    h1 {
      font-size: 22px;
      color: $clr-base;
      line-height: 1;
      font-weight: 800;
      cursor:pointer;

      a {
        text-decoration: none;

        &:hover, &:focus {
          color: $clr-background;
        }
      }
    }
  }

  &__footer {
    @include display-direction(flex, $size-6, start, center);

    img {
      height: $size-16;
    }

    h2 {
      font-size: 12px;
      font-weight: 800;
    }
  }
}