@use '../abstract' as *;

.card {
  background-color: $card-background;
  margin-block: $card-margin-block;
  border-radius: $card-radius-large;
  box-shadow: $card-box-shadow;
  border: $card-border;
  @include display(grid, $size-12);
  @include container($card-max-width, $size-12, $size-11);

  &__header {
    img {
      border-radius: $card-radius-medium;
      max-height: $card-image-height;
      object-fit: cover;
      overflow: clip;
    }
  }
  &__section {
    @include display(grid, $size-6);

    &-label {
      color: $card-color-title;
      padding: $size-2 $size-6;
      background: $card-accent;
      width: fit-content;
      font-weight: $card-fontweight-bold;
      border-radius: $size-2;
      font-size: $card-fz-xs;
    }

    &-publish {
      font-size: $card-fz-xs;
    }

    h1 {
      font-size: $card-fz-large;
      line-height: 1;
      font-weight: $card-fontweight-bold;
      cursor:pointer;
    }
  }

  &__footer {
    @include display-direction(flex, $size-6, start, center);

    img {
      height: $card-avatar;
    }

    h2 {
      font-size: $card-fz-s;
      font-weight: $card-fontweight-bold;
      color: $card-color-title;
    }
  }
}